* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(29, 53, 87, 1) 46%,
    rgba(168, 218, 220, 1) 100%
  );
  height: 100vh;
}
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: radial-gradient(#a8dadc, #1d3557);
  height: 50vh;
  margin-top: 10%;
  border-radius: 10px;
  border: 5px black solid;
  padding: 10px;
}

.entry-display {
  background: linear-gradient(black, grey);
  color: white;
  padding: 5px;
  margin-top: 5px;
  width: 80%;
  border-radius: 5px;
}
.rows {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 10px;
}
.btns {
  background: linear-gradient(black, grey);
  color: white;
  padding: 5px;
  margin: 2px;
}

.rows {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.clearbtn {
  display: flex;
  align-self: flex-end;
}
